@use './variables' as var;
@use './mixins' as mix;

$thumbnail-space-s: 5px;
$thumbnail-space: 30px;
$img-border-radius: 10px;

.item-showcase {
	position: relative;
	margin-top: 50px;
	justify-self: end;
	max-width: var.$content-width;

	@media screen and (max-width: var.$breakpoint-s) {
		justify-self: start;
	}

	@media screen and (max-width: var.$breakpoint-m) {
		max-width: var.$content-width-m;
	}

	& .showcase {
		width: var.$content-width;

		@media screen and (max-width: var.$breakpoint-m) {
			width: var.$content-width-m;
		}

		& img {
			width: var.$content-width;
			border-radius: $img-border-radius;

			@media screen and (max-width: var.$breakpoint-m) {
				width: var.$content-width-m;
			}
		}
	}

	& .thumbnail {
		margin-top: 20px;
		width: var.$content-width;

		@media screen and (max-width: var.$breakpoint-m) {
			width: var.$content-width-m;
		}

		& img {
			width: calc((var.$content-width - $thumbnail-space * 3) / 4);
			border-radius: $img-border-radius;
			border: 2px solid transparent;
			cursor: pointer;

			@media screen and (max-width: var.$breakpoint-m) {
				width: 100%;
			}

			&:hover,
			&:active {
				border: 2px solid var.$color-orange;
				opacity: .3;
			}
		}
	}

	& .cover {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba( var.$color-black,.8);
		z-index: 99;
		display: flex;
		justify-content: center;
		align-items: center;

		&-container {
			position: relative;
			
			& .button-close {
				cursor: pointer;
				position: absolute;
				top: -30px;
				right: 0;
				filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(286deg) brightness(109%) contrast(100%);
	
				&:hover,
				&:active {
					filter: var.$color-orange-active;
				}
			}
	
			& .custom-button {
				position: absolute;
				cursor: pointer;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: var.$color-white;
				top: 40%;
				z-index: 1;
				transform: translateY(-50%);
				@include mix.alignment-center();
				justify-content: center;
	
				&:hover img,
				&:active img {
					filter: var.$color-orange-active;
				}
	
				&-prev {
					left: -20px;
				}
				&-next {
					right: -20px;
				}
			}
		}
	}
}